body{
  background-color: darkgrey;
}
form{
    margin: auto;
    border: 2px solid #990000;
    border-radius: 5px;
    text-align: center;
    width: 270px;
}
#imagen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
h1{
    position: relative;
    align-content: center;
    text-align: center;
}
input[type=button], input[type=submit], input[type=reset]{
    background-color: #330000;
    border: none;
    color: #cccccc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}